.uber-btn{
  background-color: black;
  color: white;
  height: 36px;
  width: 115px;
  margin-left: 15px;
  transition: opacity 0.15s;
}

.uber-btn:hover {
  opacity: 0.7;
}

.amazon-btn{
  background-color: rgb(255, 216, 20);
  height: 36px;
  width: 140px;
  border: none;
  border-radius: 18px;
  font-weight: bold;
  margin-left: 15px;
  transition: background-color 0.15s;
}

.amazon-btn:hover {
  background-color: rgb(250, 210, 10);
}

.git-btn{
  background-color: rgb(46, 164, 79);
  color: white;
  height: 36px;
  width: 85px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  margin-left: 15px;
  transition: box-shadow 0.15s;
}

.git-btn:hover {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.bootstrap-btn1{
  background-color: rgb(121, 82, 179);
  color: white;
  font-weight: bold;
  height: 36px;
  width: 110px;
  border: none;
  border-radius: 2px;
  margin-left: 15px;
  margin-right: 8px;
  transition: background-color 0.15s;
}

.bootstrap-btn1:hover {
  background-color: rgb(109, 59, 184);
}

.bootstrap-btn2{
  background-color: white;
  color: rgb(108, 117, 125);
  font-weight: bold;
  height: 36px;
  width: 100px;
  border: solid;
  border-width: 1px;
  border-radius: 2px;
  transition: background-color 0.15s, color 0.15s;
}

.bootstrap-btn2:hover {
  background-color: rgb(108, 117, 125);
  color: white;
}

.linkedin-btn1{
  background-color: rgb(10, 102, 194);
  color: white;
  height: 36px;
  width: 220px;
  border: none;
  font-weight: bold;
  border-radius: 18px;
  margin-left: 15px;
  margin-right: 8px;
  transition: background-color 0.15s;
}

.linkedin-btn1:hover {
  background-color: rgb(5, 82, 158);
}

.linkedin-btn2{
  background-color: white;
  color: rgb(10, 102, 194);
  border: solid;
  border-width: 1px;
  font-weight: bold;
  height: 36px;
  width: 70px;
  border-color: rgb(10, 102, 194);
  border-radius: 18px;
  transition: border-width 0.15s, background-color 0.15s;
}

.linkedin-btn2:hover {
  background-color: rgba(0, 0, 0, 0.15);
  border-width: 2px;
}

.amazon-link{
  color: rgb(0, 113, 133);
  transition: color 0.15s;
}

.amazon-link:hover {
  color: rgb(255, 164, 28);
}

.nike-title{
  font-size: 24px;
  font-weight: bold;
}

.nike-price{
  color: rgb(0, 118, 0);
  font-weight: bold;
}

.addcart-btn{
  background-color: rgb(255, 216, 20);
  height: 36px;
  width: 140px;
  border: none;
  border-radius: 18px;
  font-weight: bold;
  margin-left: 8px;
  transition: background-color 0.15s;
}

.addcart-btn:hover {
  background-color: rgb(250, 210, 10);
}

.addcart-btn:active {
  opacity: 0.7;
}

.buynow-btn{
  background-color: rgb(255, 164, 28);
  height: 36px;
  width: 140px;
  border: none;
  border-radius: 18px;
  font-weight: bold;
  transition: background-color 0.15s;
}

.buynow-btn:hover {
  background-color: rgb(235, 144, 8);
}

.buynow-btn:active {
  opacity: 0.7;
}

.back-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
}

.next-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
}

.stretch-btn {
  background-color: green;
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  transition: padding-top 1s, padding-bottom 1s, padding-left 1s, padding-right 1s;
}

.stretch-btn:hover {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
}


.shadow-btn {
  background-color: green;
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.shadow-btn:active {
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: none;
}

.threes-btn {
  background-color: green;
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 10px;
  margin-left: 10px;
  transition: padding 0.15s, margin 0.15;
}

.threes-btn:hover {
  padding-left: 25px;
  padding-right: 25px;
  margin-right: 0px;
  margin-left: 0px;
}

.tahoma-text {
  font-family: Tahoma;
  font-weight: bold;
  font-size: 20px;
}

.deals-text {
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.sales-text {
  font-family: Arial;
  font-size: 16px;
  font-style: italic;
  color: red;
  margin-top: 0;
}

.course-text {
  font-family: Verdana;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.subtitle-text {
  font-family: Verdana;
  font-size: 15px;
  color: gray;
  margin-top: 0;
  margin-bottom: 20px;
}

.description-text {
  font-family: Verdana;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 18px;
  width: 285px;
}

.getstarted-btn  {
  font-family: Verdana;
  background-color: rgb(34,139,34);
  color: white;
  border: none;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0;
}

.question-text {
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.apple-text {
  font-family: Arial;
  font-size: 18px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20;
}

.learn-text {
  font-family: Arial;
  font-size: 18px;
  color: rgb(35, 111, 187);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.new-text {
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  color: orange;
  text-align: center;
  margin-bottom: 8px;
}

.mac-text {
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  margin-bottom: 5px;
}

.super-text {
  font-family: Arial;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 0;
}

.price-text {
  font-family: Arial;
  font-size: 16px;
  text-align: center;
  margin-top: 0;
}

.buy-text {
  background-color: rgb(0, 113, 227);
  color: white;
  font-size: 14px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}

.buybuy {
  text-align: center;
}

.first-text{
  font-family: Arial;
  font-size: 30px;
  margin-bottom: 5px;
}
.usd-text {
  font-size: 16px;
  color: gray;
}
.second-text {
  font-family: Arial;
  font-size: 18px;
  color: green;
  margin-top: 0;
  margin-bottom: 5px;
}
.third-text {
  font-family: Arial;
  margin-top: 0;
}
.fourth-text {
  color: gray;
}
.fifth-text {
  color: red;
}

.free-text {
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}
.free2-text {
  font-weight: normal;
  color: gray;
}
.webdev-text {
  font-family: Arial;
  font-size: 16px;
  margin-top: 0;
  width: 500px;
  margin-bottom: 20px;
}
.here-text {
  font-family: Arial;
  font-size: 16px;
  margin-top: 0;
}
.chp-text {
  color: blue;
}